@model LibraryMVC.Entities.Auteur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
</div>
<div class="col-lg-6">
    <h4>Livres</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Titre:
                </th>
                <th>
                    Nombre de pages:
                </th>
                <th>
                    Domaine:
                </th>
                <th>
                    Nom de l'auteur:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Livres)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreDePage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domaine.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auteur.Nom)
                    </td>
                    <td>
                        <a asp-controller="Livres" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <p>
        <a asp-controller="Livres"
           asp-action="Create"
           asp-route-id="@Model.Id">Ajouter nouveau livre</a>
    </p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
